@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
text-align: center;
    font-family: 'Montserrat', sans-serif;
    background: cornsilk;
 margin: auto;
}

.container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    text-align: center;
    margin: auto;
}
.navigation{
    text-align: center;
}


#bill-amount{
    margin: 2rem 2rem;
    padding: 1rem 1rem;
}
.next-btn{
    margin: auto;
    width: 10%;
    border: 2px solid;

}


.heading{
    padding: 2rem 2rem;
    text-align: center;
}
.hide{
margin: auto;
text-align: center;
display: flex;
flex-direction: column;
}

#cash-given{
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    width:44vw ;
}

#Check-button{
    margin: auto;
    width: 10%;
    border: 2px solid;
}

.change-table{
border: 2px solid;
border-color: black;
padding: 0.5rem;
margin: auto;
}

.rtn{
    margin-bottom: 2rem; 
}

#no-of-notes{
    border: black 2px solid;
    padding: 0.5rem;
}
.k{
    border: black 2px solid;
    padding: 0.5rem;
}
.footers{
    padding: 2rem 2 rem;
    text-align: center;
margin: 2rem 2rem;
}